.form {
  display: grid;
  grid-template-columns: minmax(130px, 378px) 121px 108px 1fr;
  max-width: 830px;
  gap: 12px;
  margin: 0 auto 52px;
}

.button {
  min-width: unset;
}

.button:last-child {
  justify-self: right;
}

.canvas {
  width: fit-content;
  display: flex;
  gap: 16px;
  margin: 0 auto;
}